/* General Styles
   Styles of base elements */

* {
  box-sizing: border-box;
}

*:focus {
  outline: white 1px solid;
}

html, body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 150%;
  background: rgb(37, 37, 42);
  color: rgb(243, 235, 254);
}

body {
  background-position-y: -80px;
  background-image: url('../images/bg-logos.png');
}

h1, h2, h3, h4 {
  line-height: 125%;
  font-family: 'Jost', Futura, sans-serif;
  color: white;
  margin: 1rem 0;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

a {
  font-weight: bold;
  color: rgb(255, 17, 17);
}

button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: black;
  background: white;
  border-radius: 2px;
  border: none;
  vertical-align: middle;
  box-shadow: black 0 1px 0 0;
  transition:
    transform 250ms,
    box-shadow 250ms;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: black 0 3px 0 0;
}

button:hover:disabled {
  transform: translateY(0);
  box-shadow: black 0 0 0 0;
}

button:disabled {
  box-shadow: black 0 0 0 0;
}

button:active {
  transform: translateY(0);
  box-shadow: black 0 1px 0 0;
  transition:
    transform 0ms,
    box-shadow 0ms;
}

.button--large {
  font-size: 1.1rem;
  padding: 0.65rem 1.15rem;
}

.button--primary {
  color: white;
  background: rgb(235, 0, 0);
}

.button--primary:hover {
  background: rgb(255, 25, 25);
}

.button--dark {
  color: white;
  background: rgb(13, 13, 16);
}

.button--dark:hover {
  background: rgb(27, 27, 32);
}

.button--dark:disabled {
  color: rgba(255, 255, 255, 0.5);
  background: rgb(66, 66, 66);
}


/* Utility Styles
   Simple modifiers that can be applied to multiple elements */

.text--small {
  font-size: 0.8rem;
  line-height: 150%;
}

.text--medium {
  font-size: 1rem;
  line-height: 150%;
}

.text--large {
  font-size: 1.1rem;
  line-height: 150%;
}

.text--caps {
  text-transform: uppercase;
}

.text--hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(1px,1px,1px,1px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  overflow: hidden !important;
}

.aspect-16-19 {
  padding-bottom: 56.25%;
  position: relative;
}

.aspect-16-19 > * {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.u-centered-content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 35px;
}

.list--no-style {
  list-style-type: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.list--horizontal {
  display: flex;
}

.color--discord {
  color: rgb(114, 137, 218) !important;
}

.color--itch {
  color: rgb(250, 92, 92) !important;
}

.color--facebook {
  color: rgb(24, 119, 242) !important;
}

.color--twitter {
  color: rgb(29, 161, 242) !important;
}

.color--reddit {
  color: rgb(255, 69, 0) !important;
}

.color--youtube {
  color: rgb(255, 0, 0) !important;
}


/* Icons */

.icon {
  color: currentColor;
  width: 1.25rem;
  height: 1.25rem;
  fill: currentColor;
  vertical-align: -0.25rem;
}


/* Site Styles
   General site styles */

.site {
  position: relative;
  overflow-x: hidden;
  height: 100%;
}

.site-content {
  min-height: calc(100vh - 200px);
}

.site-header {
  background: rgb(0, 0, 0);
  background-image: linear-gradient(114deg, rgba(13,13,16,1) 0%, rgba(27,27,32,1) 22%, rgba(13,13,16,1) 64%, rgba(17,17,21,1) 100%);
  border-bottom: black 5px solid;
  box-shadow: rgba(0, 0, 0, 0.15) 25px 0 25px;
}

.site-header__main {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.site-header__menu-toggle {
  display: none;
  background: transparent;
  color: white;
}

.site-header__logo {
  display: block;
  width: 150px;
}

.releases {
  margin-left: 3rem;
}

.release {
  margin-left: 1rem;
  margin-right: 2rem;
  border-bottom: white 1px solid;
  padding-bottom: 1px;
}

.release--current {
  border-bottom-color: green;
}

.release--playtest {
  border-bottom-color: orange;
}

.release__date {
  color: rgb(170, 170, 170);
}

.release__date__year,
.release__date__month,
.release__date__day {
  font-style: normal;
}

.site-header__hr {
  margin: 0;
  border-top: black 1px solid;
  border-right: none;
  border-bottom: rgb(39, 39, 44) 1px solid;
  border-left: none;
}

.site-header__sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__menu-close {
  display: none;
  background: transparent;
  color: white;
}

.site-header__nav {
}

.site-header__nav > a {
  display: inline-block;
  padding: 1rem 0.75rem;
}

.site-header__social-nav {
}

.site-header__social-nav > a {
  display: inline-block;
  padding: 0.5rem;
}

.site-header__social-nav .social-link__text {
  text-indent: -3000px;
  color: transparent;
}

.site-header a {
  color: white;
  text-decoration: none;
}

.site-header a:hover {
  text-decoration: underline;
}


.hero {
  position: relative;
}

.hero__intro-text__games {
  white-space: nowrap;
  color: rgb(27, 27, 27);
}

.hero__intro-text__game {
  transition: all 500ms cubic-bezier(0.83, 0, 0.17, 1);
}

.hero__intro-text__game.carousel__item--current {
  text-shadow: black 0 2px;
}

.hero__intro-text__ra.carousel__item--current {
  color: rgb(255, 17, 17);
}

.hero__intro-text__cnc.carousel__item--current {
  color: gold;
}

.hero__intro-text__ts.carousel__item--current {
  color: orange;
}

.hero__intro-text__d2k.carousel__item--current {
  color: sandybrown;
}

.hero__intro-text__tagline {
  display: block;
  text-shadow: black 0 2px;
}

.install {
  position: absolute;
  top: 1.25rem;
  right: 35px;
}


.hero-carousel .carousel__item__content {
  background: rgb(24, 24, 30);
  border-bottom: black 4px solid;
}

.hero-carousel__image {
  display: block;
  width: 100%;
  image-rendering: -moz-crisp-edges;
  opacity: 0.1;
  transition: opacity 500ms cubic-bezier(0.83, 0, 0.17, 1);
}

.carousel__item--current .hero-carousel__image {
  opacity: 1;
}

.hero-carousel .carousel__item {
  width: 100%;
}


.carousel {
  position: relative;
}

.carousel__items {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: transform 500ms cubic-bezier(0.83, 0, 0.17, 1);
  will-change: transform;
}

.carousel__item {

}

.carousel__item__content {
  transform: scale(0.95);
  transition: transform 500ms cubic-bezier(0.83, 0, 0.17, 1);
}

.carousel__item--current .carousel__item__content {
  transform: scale(1);
  opacity: 1;
}

.carousel__next,
.carousel__previous {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -37px;
  height: 75px;
  width: 40px;
  padding: 0;
}

.carousel__previous {
  position: absolute;
  top: 50%;
  left: -20px;
}

.carousel__next {
  position: absolute;
  top: 50%;
  right: -20px;
}

.carousel__pages {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.carousel__page {
  text-indent: -500px;
  overflow: hidden;
  display: block;
  padding: 5px 3px;
  font-size: 1px;
  line-height: 1px;
}

.carousel__page:after {
  content: '';
  display: block;
  width: 35px;
  height: 3px;
  background: rgb(27, 27, 27);
}

.carousel__page--current:after {
  background: white;
}


.additional-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.open-source .icon {
  color: currentColor;
}

.operating-system {
  margin-right: 1.5rem;
}

.operating-system .icon {
  width: 3rem;
  height: 3rem;
}


.developer-updates__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  background: white;
}

.developer-updates__header,
.developer-updates__header a,
.developer-updates__header h4 {
  color: rgb(43, 43, 48);
}

.developer-updates__header h4 {
  margin: 0;
}

.developer-update {
  margin-top: 1px;
  border: white 1px solid;
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.33);
  background-size: 150px 150px;
  background-image:
    linear-gradient(to right, rgba(5, 0, 3, 0.25) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(5, 0, 3, 0.25) 1px, transparent 1px);
}

.developer-update__heading {
  margin: 0;
}

.developer-update__subheading {
  opacity: 0.55;
}


.site-section {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}


.site-footer {
  padding: 0 0 3rem 0;
  background: rgb(0, 0, 0);
  background-image: linear-gradient(114deg, rgba(13,13,16,1) 0%, rgba(27,27,32,1) 22%, rgba(13,13,16,1) 64%, rgba(17,17,21,1) 100%);
}

.site-footer a {
  color: white;
  text-decoration: none;
}

.site-footer a:hover {
  text-decoration: underline;
}

.site-footer__main {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.site-footer__logo {
  width: 125px;
}

.site-footer__legal {
  margin-left: 50px;
}

.site-footer__nav {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.site-footer__nav > a {
  display: inline-block;
  padding: 0.5rem 0.75rem;
}

.site-footer__social-nav {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.site-footer__social-nav > a {
  display: inline-block;
  padding: 0.5rem 0.75rem;
}

.site-footer__hr {
  margin: 0;
  border-top: black 1px solid;
  border-right: none;
  border-bottom: rgb(39, 39, 44) 1px solid;
  border-left: none;
}


/* Responsive Styles */

@media screen and (max-width: 1000px) {
  .u-centered-content {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 900px) {
  .site-header__sub {
    align-items: stretch;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .site-header__social-nav {
    margin-left: 10px;
  }
}

@media screen and (max-width: 680px) {
  .u-centered-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .site-header__main {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .site-header__menu-toggle {
    display: block;
  }

  .site-header__logo {
    width: 125px;
    margin-left: 0.25rem;
  }

  .releases {
    display: none;
  }

  .site-header__nav {
    flex-direction: column;
  }

  .site-header__menu-close {
    display: block;
    align-self: flex-start;
  }

  .site-header__sub {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: black;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 500ms cubic-bezier(0.83, 0, 0.17, 1);
  }

  .site--menu-active .site-header__sub {
    transform: translateX(0);
  }

  .site-header__social-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .site-header__social-nav a {
    padding: 1rem;
  }

  .site-header__social-nav .icon {
    width: 2rem;
    height: 2rem;
  }

  .site-section {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .install {
    position: static;
    top: auto;
    left: auto;
    margin-bottom: 1rem;
  }

  .additional-info {
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
  }

  .developer-updates {
    padding: 0;
  }

  .developer-update {
    border-right: none;
    border-left: none;
  }

  .site-footer__main {
    flex-direction: column;
    align-items: flex-start;
  }

  .site-footer__legal {
    margin-left: 0;
  }
}