/* General Styles
   Styles of base elements */

@keyframes focusSelectionBox {
  0% { top: -5px; right: -5px; bottom: -5px; left: -5px; }
  100% { top: -2px; right: -2px; bottom: -2px; left: -2px; }
}

* {
  box-sizing: border-box;
}

*:focus,
a:hover,
button:hover {
  outline: none;
}

*:focus:before,
a:hover:before,
button:hover:before,
.button:hover:before {
  content: '';
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border: rgba(255, 255, 255, 0.01) 8px solid;
  border-image: url('/images/selection-box.svg') 8 8 8 8;
  border-image-width: 8px;
  animation: focusSelectionBox 0.75s infinite;
}

html, body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 150%;
  background: rgb(42, 42, 49);
  color: rgb(240, 240, 247);
}

body {
  background-position-y: -80px;
  background-image: url('../images/bg-logos_filled.png');
}

h1, h2, h3, h4 {
  line-height: 125%;
  font-family: 'Jost', Futura, sans-serif;
  color: white;
  margin: 1rem 0;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

a > h1,
a > h2,
a > h3,
a > h4 {
  text-decoration: underline;
  text-decoration-color: rgb(255, 17, 17);
  text-underline-offset: 0.25rem;
}

a:hover > h1,
a:hover > h2,
a:hover > h3,
a:hover > h4 {
  text-decoration-color: rgb(255, 115, 115);
}

a {
  position: relative;
  font-weight: bold;
  color: white;
  text-decoration: underline;
  text-decoration-color: rgb(255, 17, 17);
}

a:hover {
  text-decoration-color: rgb(255, 115, 115);
}

lite-youtube {
  margin: 1.5rem auto;
  max-width: 720px;
}

label {
  cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

button,
.button {
  -webkit-appearance: none;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 1px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  line-height: 125%;
  color: black;
  background: rgb(240, 240, 247);
  border-radius: 2px;
  border: none;
  vertical-align: middle;
  box-shadow: black 0 1px 0 0;
  transition: all 250ms;
}

button:hover,
.button:hover {
  background: white;
  transform: translateY(-2px);
  box-shadow: black 0 3px 0 0;
}

button:hover:disabled,
.button:hover:disabled {
  transform: translateY(0);
  box-shadow: black 0 0 0 0;
}

button:disabled,
.button:disabled {
  filter: contrast(0.5);
  box-shadow: black 0 0 0 0;
}

button:active,
.button:active {
  transform: translateY(0);
  box-shadow: black 0 1px 0 0;
  transition:
    transform 0ms,
    box-shadow 0ms;
}

.button--large {
  font-size: 1.1rem;
  padding: 0.65rem 1.15rem;
}

.button--primary {
  color: rgb(240, 240, 247);
  background: rgb(235, 0, 0);
}

.button--primary:hover {
  background: rgb(255, 25, 25);
}

.button--dark {
  color: rgb(240, 240, 247);
  background: rgb(13, 13, 16);
}

.button--dark:hover {
  background: rgb(27, 27, 32);
}

var {
  font-style: normal;
  font-weight: bold;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

tbody {
  padding: 0.5rem;
}

th {
  padding: 0.75rem 1rem;
  text-align: left;
}

td {
  padding: 0.25rem 1rem;
}

tr {
  padding: 0.25rem;
}

tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.25);
}


/* Utility Styles
   Simple modifiers that can be applied to multiple elements */

.text--small {
  font-size: 0.8rem;
  line-height: 150%;
}

.text--medium {
  font-size: 1rem;
  line-height: 150%;
}

.text--large {
  font-size: 1.1rem;
  line-height: 150%;
}

.text--caps {
  text-transform: uppercase;
}

.text--hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(1px,1px,1px,1px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  overflow: hidden !important;
}

.aspect-16-9 {
  padding-bottom: 56.25%;
  position: relative;
}

.aspect-16-9 > * {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.u-centered-content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2.5rem;
}

.u-dark-zone {
  padding: 1.5rem;
  border: rgba(255, 255, 255, 0.3) 1px solid;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.33);
  background-size: 150px 150px;
  background-image:
    linear-gradient(to right, rgba(25, 0, 3, 0.25) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(25, 0, 3, 0.25) 1px, transparent 1px);
}

.u-light-zone {
  padding: 0.75rem 1.5rem;
  background: rgb(240, 240, 247);
  border-radius: 2px;
}

.u-light-zone,
.u-light-zone a,
.u-light-zone h1,
.u-light-zone h2,
.u-light-zone h3,
.u-light-zone h4 {
  color: rgb(43, 43, 48);
  text-decoration-color: currentColor;
}

.u-light-zone a:hover {
  color: black;
}

.u--no-padding {
  padding: 0;
}

.u-placeholder {
  display: inline-block;
  background: currentColor;
  opacity: 0.25;
  height: 1rem;
  width: 50%;
  border-radius: 2px;
}

.list--no-style {
  list-style-type: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.list--horizontal {
  display: flex;
}

.color--discord {
  color: rgb(114, 137, 218) !important;
}

.color--itch {
  color: rgb(250, 92, 92) !important;
}

.color--facebook {
  color: rgb(24, 119, 242) !important;
}

.color--twitter {
  color: rgb(29, 161, 242) !important;
}

.color--reddit {
  color: rgb(255, 69, 0) !important;
}

.color--youtube {
  color: rgb(255, 0, 0) !important;
}

.color--playing {
  color: green;
}

.color--waiting {
  color: orange;
}


.badge {
  background: black;
  color: white;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 1px;
}


/* Icons */

.icon {
  color: currentColor;
  width: 1.25rem;
  height: 1.25rem;
  fill: currentColor;
  vertical-align: -0.25rem;
}


.flot-tick-label {
  color: white;
}

.flot-chart,
.flot-chart > table {
  width: 100%;
}

.flot-chart table td {
  padding: 0;
}

.flot-chart table td:first-child {
  width: 100%;
}

#flotTip {
  background: white;
  color: black;
  border-radius: 2px;
  padding: 0.5rem 1rem;
}


/* Site Styles
   General site styles */

.site {
  position: relative;
  overflow-x: hidden;
  height: 100%;
}

.site-content {
  min-height: calc(100vh - 200px);
}

.site-header {
  background: rgb(0, 0, 0);
  background-image: linear-gradient(114deg, rgba(13,13,16,1) 0%, rgba(27,27,33,1) 22%, rgba(13,13,16,1) 64%, rgba(17,17,21,1) 100%);
  border-bottom: black 5px solid;
  box-shadow: rgba(0, 0, 0, 0.15) 25px 0 25px;
}

.site-header__main {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.site-header__menu-toggle {
  display: none;
  margin-right: 0.5rem;
}

.site-header__logo {
  display: block;
  width: 150px;
}

.releases {
  margin-left: 3rem;
}

.release {
  margin-left: 1rem;
  margin-right: 2rem;
  border-bottom: white 1px solid;
  padding-bottom: 1px;
}

.release--current {
  border-bottom-color: green;
}

.release--playtest {
  border-bottom-color: orange;
}

.release__date {
  color: rgb(170, 170, 170);
}

.release__date__year,
.release__date__month,
.release__date__day {
  font-style: normal;
}

.site-header__hr {
  margin: 0;
  border-top: black 1px solid;
  border-right: none;
  border-bottom: rgb(39, 39, 44) 1px solid;
  border-left: none;
}

.site-header__sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__menu-close {
  display: none;
}

.site-header__nav {
  padding: 0.5rem 0;
}

.site-header__nav > a {
  display: inline-block;
  padding: 0.5rem;
}

.site-header__social-nav {
}

.site-header__social-nav > a {
  display: inline-block;
  padding: 0.5rem;
}

.site-header__social-nav .social-link__text {
  text-indent: -3000px;
  color: transparent;
}

.site-header a {
  color: white;
  text-decoration: none;
}

.site-header a:hover {
  text-decoration: underline;
}


.hero {
  position: relative;
}

.hero__intro-text__games {
  white-space: nowrap;
  color: rgb(27, 27, 27);
}

.hero__intro-text__game {
  transition: all 500ms cubic-bezier(0.83, 0, 0.17, 1);
}

.hero__intro-text__game.carousel__item--current {
  text-shadow: black 0 2px;
}

.hero__intro-text__ra.carousel__item--current {
  color: rgb(255, 17, 17);
}

.hero__intro-text__cnc.carousel__item--current {
  color: gold;
}

.hero__intro-text__ts.carousel__item--current {
  color: orange;
}

.hero__intro-text__d2k.carousel__item--current {
  color: sandybrown;
}

.hero__intro-text__tagline {
  display: block;
  text-shadow: black 0 2px;
}

.install {
  position: absolute;
  top: 1.25rem;
  right: 35px;
}


.hero-carousel .carousel__item__content {
  background: rgb(24, 24, 30);
  border-bottom: black 4px solid;
}

.hero-carousel__image {
  display: block;
  width: 100%;
  border-radius: 2px;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
  opacity: 0.1;
  transition: opacity 500ms cubic-bezier(0.83, 0, 0.17, 1);
}

.carousel__item--current .hero-carousel__image {
  opacity: 1;
}

.hero-carousel .carousel__item {
  width: 100%;
}


.carousel {
  position: relative;
}

.carousel__items {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: transform 500ms cubic-bezier(0.83, 0, 0.17, 1);
  will-change: transform;
}

.carousel__item {

}

.carousel__item__content {
  transform: scale(0.95);
  transition: transform 500ms cubic-bezier(0.83, 0, 0.17, 1);
}

.carousel__item--current .carousel__item__content {
  transform: scale(1);
  opacity: 1;
}

.carousel__next,
.carousel__previous {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -37px;
  height: 75px;
  width: 40px;
  padding: 0;
}

.carousel__previous {
  position: absolute;
  top: 50%;
  left: -20px;
}

.carousel__next {
  position: absolute;
  top: 50%;
  right: -20px;
}

.carousel__pages {
  display: flex;
  list-style-type: none;
  margin: 0.5rem 0 0 0;
  padding: 0;
}

.carousel__page {
  text-indent: -500px;
  overflow: hidden;
  display: block;
  padding: 5px 3px;
  font-size: 1px;
  line-height: 1px;
}

.carousel__page__indicator {
  content: '';
  display: block;
  width: 35px;
  height: 3px;
  background: rgb(27, 27, 27);
}

.carousel__page--current .carousel__page__indicator {
  background: white;
}


.additional-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.open-source .icon {
  color: currentColor;
}

.operating-system {
  margin-right: 1.5rem;
}

.operating-system .icon {
  width: 3rem;
  height: 3rem;
}


.developer-updates__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.developer-updates__header h4 {
  margin: 0;
}

.developer-update {
  margin-top: 1px;
}

.developer-update__header {
  margin-bottom: 1.5rem;
}

.developer-update__heading {
  margin: 0;
}

.developer-update__subheading {
  opacity: 0.55;
}

.developer-update__body img {
  max-width: 100%;
}

.developer-update__body ul {
  padding-left: 2rem;
}

.developer-update__body hr {
  border: none;
  border-top: rgb(125, 50, 50) 1px solid;
}

.developer-update__footer {
  margin-top: 3rem;
}


.site-section {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}


.site-footer {
  padding: 0 0 3rem 0;
  background: rgb(0, 0, 0);
  background-image: linear-gradient(114deg, rgba(13,13,16,1) 0%, rgba(27,27,32,1) 22%, rgba(13,13,16,1) 64%, rgba(17,17,21,1) 100%);
}

.site-footer a {
  color: white;
  text-decoration: none;
}

.site-footer a:hover {
  text-decoration: underline;
}

.site-footer__main {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.site-footer__logo {
  width: 125px;
}

.site-footer__legal {
  margin-left: 50px;
}

.site-footer__nav {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.site-footer__nav > a {
  display: inline-block;
  padding: 0.5rem 0.5rem;
}

.site-footer__social-nav {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.site-footer__social-nav > a {
  display: inline-block;
  padding: 0.5rem 0.5rem;
}

.site-footer__hr {
  margin: 0;
  border-top: black 1px solid;
  border-right: none;
  border-bottom: rgb(39, 39, 44) 1px solid;
  border-left: none;
}


/* Developer Updates List Styles */

.developer-updates__list {
  margin: -1rem;
}

.developer-updates__listing {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
}

.developer-updates__listing:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.25);
}

.developer-updates__listing__header {
}

.developer-updates__listing__title {
  display: inline-block;
  margin-bottom: 0.25rem;
}

.developer-updates__listing__comments {
  flex-shrink: 0;
}


.servers__controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.servers__filters,
.servers__info {
  margin-bottom: 0.5rem;
}

.servers__counts {
  margin-right: 1rem;
}

.servers__list {
  width: 100%;
}

.servers__list__header__sort-toggle {
  white-space: nowrap;
}

.servers__list__header__sort-toggle .icon {
  opacity: 0.25;
  transition: all 300ms cubic-bezier(0.83, 0, 0.17, 1);
}

.servers__list__header__sort-toggle--descending .icon,
.servers__list__header__sort-toggle--ascending .icon {
  opacity: 1;
}

.servers__list__header__sort-toggle--descending .icon {
  transform: rotateZ(-180deg);
}

.servers__list__group > td {
  background: black;
}

.servers__list__group__info {
  display: flex;
  align-items: center;
  min-height: 32px;
}

.servers__list__group__mod-icon {
  margin-right: 0.5rem;
  width: 32px;
  height: 32px;
}

.servers__list__group__version {
  margin-right: 1rem;
}

.servers__list__group__mod-link {
  margin-right: 0.5rem;
}

.servers__listing__name .icon {
  width: 1rem;
  height: 1rem;
  vertical-align: -0.1rem;
  margin-right: 0.5rem;
  color: rgba(255, 255, 255, 0.5);
}

.servers__listing__join {
  margin-left: 1rem;
}

.servers__listing__status__badge--waiting {
  color: orange;
}

.servers__listing__status__badge--playing {
  color: green;
}

.servers__listing__status__badge--empty {
  color: gray;
}


/* Responsive Styles */

@media screen and (max-width: 1000px) {
  .u-centered-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .site-header__sub {
    align-items: stretch;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .site-header__social-nav {
    margin-left: 10px;
  }
}

@media screen and (max-width: 680px) {
  .u-centered-content {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .site {
    margin-top: 60px;
  }

  .site-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
  }

  .site-header__main {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .site-header__menu-toggle {
    display: block;
  }

  .site-header__logo {
    width: 125px;
    margin-left: 0.25rem;
  }

  .releases {
    display: none;
  }

  .site-header__nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 100vh;
    max-width: 100vw;
    overflow: auto;
  }

  .site-header__nav > a {
    padding: 1rem;
  }

  .site-header__menu-close {
    display: block;
    align-self: flex-start;
  }

  .site-header__sub {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: black;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 500ms cubic-bezier(0.83, 0, 0.17, 1);
  }

  .site--menu-active .site-header__sub {
    transform: translateX(0);
  }

  .site-header__social-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .site-header__social-nav a {
    padding: 1rem;
  }

  .site-header__social-nav .icon {
    width: 1.75rem;
    height: 1.75rem;
  }

  .site-section {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .install {
    position: static;
    top: auto;
    left: auto;
    margin-bottom: 1rem;
  }

  .additional-info {
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
  }

  .u-dark-zone {
    margin-left: -1rem;
    margin-right: -1rem;
    border-right: none;
    border-left: none;
  }

  .u-light-zone {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .u-mobile-full-width {
    width: 100vw;
    max-width: 100vw;
    margin-left: -1rem;
    margin-right: -1rem;
    overflow-x: auto;
  }

  .site-footer__main {
    flex-direction: column;
    align-items: flex-start;
  }

  .site-footer__legal {
    margin-left: 0;
  }

  .servers__controls {
    flex-direction: column;
  }
}