# General configuration
url: "https://www.openra.net"
baseurl: ""
twitter_username: OpenRA
github_username: OpenRA
permalink: /:categories/:title/index.html

download_page_tags:
  release: "release-20210321"
  playtest: ""

defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      path: "news/*"
    values:
      layout: "news" # set default layout for news posts

# Build settings
plugins:
  - jekyll-feed
  - jekyll-redirect-from
  - jekyll-github-metadata

# jekyll-feed configuration
title: OpenRA - News Feed 
description: >- # this means to ignore newlines until "baseurl:"
  Classic staregy games rebuilt for the modern era

feed:
  path: /news/atom.html # /news/atom.html -> /news/atom

# jekyll-github-metadata
repository: OpenRA/OpenRA
