---
title: "Download"
permalink: "/download/"
js:
- /scripts/download.js
---

{% assign release = site.github.releases | where: "tag_name", site.download_page_tags.release | first %}
{% if site.download_page_tags.playtest %}
  {% assign playtest = site.github.releases | where: "tag_name", site.download_page_tags.playtest | first %}
{% endif %}

<div class="download">
  <section class="site-section">
    <div class="site-section__content">
      <h1 class="site-section__heading">Download</h1>
      <p class="text--large">OpenRA is available for many modern operating systems.
        {% if playtest %}
          The latest stable release is <code>{{ release.tag_name }}</code> and the latest playtest is <code>{{ playtest.tag_name }}</code>.
        {% else %}
          The latest stable release is <code>{{ release.tag_name }}</code>.
        {% endif %}
      </p>
  
      <div class="download-info">
        <div class="download-info__build">
          <h3>Which Build?</h3>
          <p>Two builds are available, depending on how you want to play:</p>
          <ul>
            <li><strong>Release</strong> is recommended for players who want to play multiplayer games online.</li>
            <li><strong>Playtest</strong> provides a preview of the latest improvements for players who want to help test and shape the future releases of OpenRA.</li>
          </ul>
          <p>Older builds can be found in the <a href="https://github.com/OpenRA/OpenRA/releases">GitHub Releases archive</a>.</p>
        </div>
        <div class="download-info__license">
          <h3>License and Game Assets</h3>
          <p>The OpenRA game engine is free software released under the <a href="https://github.com/OpenRA/OpenRA/blob/bleed/COPYING">GPL3 license</a>. The OpenRA mods require files from the original games, which are used under the license granted by the <a href="https://www.ea.com/games/command-and-conquer/command-and-conquer-remastered/modding-faq">C&C Franchise Modding Guidelines</a>. These files are not covered by the OpenRA license, and you will be prompted to download or copy them the first time you run a mod.</p>
          <p><em>EA has not endorsed and does not support this product.</em></p>
        </div>
      </div>

    </div>
  </section>
  
  <hr class="site-section__divider" />
  
  <section id="server-browser" class="servers site-section">
    <div class="site-section__content">

      <h2 class="site-section__heading">Choose Your Platform</h2>
      <fieldset class="button-group download__os-selector">
        <label class="radio-button radio-button--icon button download__os download__os-windows">
          <svg class="button__icon icon">
            <use xlink:href="{{ '/images/icons/icons.svg#icon-windows' | relative_url }}"></use>
          </svg>
          <div>
            Windows
          </div>
          <input
            class="radio-button__input"
            name="operating-system"
            value="windows"
            type="radio" />
        </label>
        <label class="radio-button radio-button--icon button download__os download__os-macos">
          <svg class="button__icon icon">
            <use xlink:href="{{ '/images/icons/icons.svg#icon-apple' | relative_url }}"></use>
          </svg>
          <div>
            macOS
          </div>
          <input
            class="radio-button__input"
            name="operating-system"
            value="macos"
            type="radio" />
        </label>
        <label class="radio-button radio-button--icon button download__os download__os-linux">
          <svg class="button__icon icon">
            <use xlink:href="{{ '/images/icons/icons.svg#icon-linux' | relative_url }}"></use>
          </svg>
          <div>
            Linux
          </div>
          <input
            class="radio-button__input"
            name="operating-system"
            value="linux"
            type="radio" />
        </label>
        <label class="radio-button radio-button--icon button download__os download__os-free-bsd">
          <svg class="button__icon icon">
            <use xlink:href="{{ '/images/icons/icons.svg#icon-freebsd' | relative_url }}"></use>
          </svg>
          <div>
            FreeBSD
          </div>
          <input
            class="radio-button__input"
            name="operating-system"
            value="free-bsd"
            type="radio" />
        </label>
        <label class="radio-button radio-button--icon download__os-source button">
          <svg class="button__icon icon">
            <use xlink:href="{{ '/images/icons/icons.svg#icon-github' | relative_url }}"></use>
          </svg>
          <div>
            Source
          </div>
          <input
            class="radio-button__input download__os download__os-source"
            name="operating-system"
            value="source"
            type="radio" />
        </label>
      </fieldset>

      <div class="download__instructions">
        <div id="instructions" class="instructions">
          <div id="windows-instructions" class="instruction dark-panel">
            <div class="instruction__content">
              OpenRA works on most computers running Windows 7 or later that support DirectX 11 or OpenGL 3+.
              <p class="text--centered">
                <span class="button-group">
                {% include release-download-button.html
                  release=release
                  type="windows" %}
                {% include release-download-button.html
                  release=playtest
                  type="windows"
                  playtest=true %}
                </span>
              </p>
              <p class="text--info text--small">
                {% if playtest %}
                  32-bit installers and portable releases can be downloaded from the <a href="{{ release.html_url }}">{{ release.tag_name }}</a> and <a href="{{ playtest.html_url }}">{{ playtest.tag_name }}</a> archives.
                {% else %}
                  32-bit installers and portable releases can be downloaded from the <a href="{{ release.html_url }}">{{ release.tag_name }}</a> archive.
                {% endif %}
              </p>
              <p>Stable releases are also available from <a href="https://winstall.app/apps/OpenRA.OpenRA">WinGet</a>:</p>
              <p>
                <code class="terminal"><span class="terminal__prompt">></span> winget install openra</code>
              </p>
              <p>Packages are also available from <a href="https://community.chocolatey.org/packages/openra">Chocolatey</a>:</p>
              <p>
                <code class="terminal"><span class="terminal__prompt">></span> choco install openra</code>
              </p>
              <p class="text--warning text--small">We do not maintain this external package source, so there may be delays when a new version is released. Please contact the downstream repository maintainers about any packaging issues.</p>
            </div>
          </div>
      
          <div id="macos-instructions" class="instruction dark-panel">
            <div class="instruction__content">
              OpenRA works best on a mac running <strong>macOS 10.11</strong> or later.
              <p class="text--centered">
                <span class="button-group">
                  {% include release-download-button.html
                    release=release
                    type="macos" %}
                  {% include release-download-button.html
                    release=playtest
                    type="macos"
                    playtest=true %}
                </span>
              </p>
              <p>Stable releases are also available from <a href="https://formulae.brew.sh/cask/openra">Homebrew Cask</a>:</p>
              <p>
                <code class="terminal"><span class="terminal__prompt">$</span> brew install --cask openra</code>
              </p>
              <p class="text--warning text--small">We do not maintain this external package source, so there may be delays when a new version is released. Please contact the downstream repository maintainers about any packaging issues.</p>
            </div>
          </div>
      
          <div id="linux-instructions" class="instruction dark-panel">
            <div class="instruction__content">
              <h4>Official AppImages</h4>
              <p>OpenRA is distributed as portable AppImages that run on most modern 64-bit Linux distributions.</p>
              <p>Download the mods you want to play, make the AppImage files executable, then double click to play! Install the optional <a href="https://github.com/AppImage/appimaged/">appimaged</a> utility to integrate OpenRA with your system launcher and web browser.</p>
              <p class="text--centered">
                <span class="button-group">
                {% include release-download-button.html
                  release=release
                  type="appimage"
                  appimagename="Red-Alert"
                  text="Download Red Alert"
                  icon='/images/icons/ra_64x64.png' %}
                {% include release-download-button.html
                  release=playtest
                  type="appimage"
                  appimagename="Red-Alert-playtest"
                  text="Download Red Alert"
                  icon='/images/icons/ra_64x64.png'
                  playtest=true %}
                </span>
              </p>
              <p class="text--centered">
                <span class="button-group">
                {% include release-download-button.html
                  release=release
                  type="appimage"
                  appimagename="Tiberian-Dawn"
                  text="Download Tiberian Dawn"
                  icon='/images/icons/cnc_64x64.png' %}
                {% include release-download-button.html
                  release=playtest
                  type="appimage"
                  appimagename="Tiberian-Dawn-playtest"
                  text="Download Tiberian Dawn"
                  icon='/images/icons/cnc_64x64.png'
                  playtest=true %}
                </span>
              </p>
              <p class="text--centered">
                <span class="button-group">
                {% include release-download-button.html
                  release=release
                  type="appimage"
                  appimagename="Dune-2000"
                  text="Download Dune 2000"
                  icon='/images/icons/d2k_64x64.png' %}
                {% include release-download-button.html
                  release=playtest
                  type="appimage"
                  appimagename="Dune-2000-playtest"
                  text="Download Dune 2000"
                  icon='/images/icons/d2k_64x64.png'
                  playtest=true %}
                </span>
              </p>
              <hr />
              <h4>Community Maintained Packages</h4>
              <p>OpenRA may also be installed using packages provided by your Linux distribution or other third parties. These packages will provide better integration with your system, but may not always offer the latest release. Please contact the downstream repository maintainers about any packaging issues.</p>
              <p class="text--warning text--small">We do not maintain these external package sources, so there may be delays when a new version is released. Please contact the downstream repository maintainers about any packaging issues.</p>
              <dl class="download__community-packages">
                <dt>
                  <img class="icon" src="{{ '/images/icons/linux-mirrors/flatpak.png' | relative_url }}" alt="" />
                  Flatpak
                </dt>
                <dd>
                  <p>Stable releases and Playtests are available from <a href="https://flathub.org/apps/details/net.openra.OpenRA">Flathub</a>:</p>
                  <p>
<code class="terminal"><span class="terminal__prompt">$</span> flatpak install --from https://flathub.org/repo/appstream/net.openra.OpenRA.flatpakref
<span class="terminal__prompt">$</span> flatpak install --from https://flathub.org/beta-repo/appstream/net.openra.OpenRA.flatpakref</code>
                  </p>
                  <p class="text--info text--small">
                    The Flatpak sandbox is known to interfere with the mod switching feature between official and community mods. We recommend that players who would like to use this feature run the AppImage releases.
                  </p>
                </dd>
                
                <dt>
                  <img class="icon" src="{{ '/images/icons/linux-mirrors/snapcraft.svg' | relative_url }}" alt="" />
                  Snap
                </dt>
                <dd>
                  <p>Stable releases are available from the <a href="https://snapcraft.io/openra">Snap Store</a>:</p>
                  <p>
                    <code class="terminal"><span class="terminal__prompt">$</span> snap install openra</code>
                  </p>
                </dd>
        
                <dt>
                  <img class="icon" src="{{ '/images/icons/linux-mirrors/arch.svg' | relative_url }}" alt="" />
                  Arch Linux
                </dt>
                <dd>
                  <p>Stable releases are available in the official <a href="https://archlinux.org/packages/extra/any/openra/">Arch repository</a>:</p>
                  <p>
                    <code class="terminal"><span class="terminal__prompt">$</span> pacman -S openra</code>
                  </p>
                </dd>

                <dt>
                  <img src="{{ '/images/icons/linux-mirrors/opensuse.svg' | relative_url }}" class="icon" />
                  openSUSE Linux
                </dt>
                <dd>
                  Stable releases and playtests are available via the <a href="http://software.opensuse.org/download.html?project=games:openra&amp;package=openra">openSUSE Build Service repository</a>.
                  <p>
                    <code class="terminal"><span class="terminal__prompt">$</span> zypper install openra</code>
                  </p>
                </dd>
        
                <dt>
                  <img class="icon" src="{{ '/images/icons/linux-mirrors/solus.svg' | relative_url }}" />
                  Solus
                </dt>
                <dd>
                  <p>Stable releases are available from the official Solus repository:</p>
                  <p>
                    <code class="terminal"><span class="terminal__prompt">$</span> eopkg it openra</code>
                  </p>
                </dd>
                
                <dt>
                  <img src="{{ '/images/icons/linux-mirrors/ubuntu.svg' | relative_url }}" class="icon" />
                  Ubuntu
                </dt>
                <dd>
                  Stable releases are available via <a href="https://xtradeb.net/play/openra/">XtraDeb</a>.
                  <p>
                    <code class="terminal"><span class="terminal__prompt">$</span> apt install openra</code>
                  </p>
                </dd>

                <dt>
                  <img class="icon" src="{{ '/images/icons/linux-mirrors/void.svg' | relative_url }}" />
                  Void Linux
                </dt>
                <dd>
                  <p>Stable releases are available from the official <a href="https://github.com/void-linux/void-packages/tree/master/srcpkgs/openra">Void Linux repository</a>:</p>
                  <p>
                    <code class="terminal"><span class="terminal__prompt">$</span> xbps-install openra</code>
                  </p>
                </dd>
              </dl>
            </div>
          </div>
      
          <div id="free-bsd-instructions" class="instruction dark-panel">
            <div class="instruction__content">
              Stable releases are available in the <a href="https://www.freshports.org/games/openra/">FreeBSD Ports Collection</a>:
              <p>
<code class="terminal"><span class="terminal__prompt">#</span> cd /usr/ports/games/openra
<span class="terminal__prompt">#</span> make install</code>
              </p>
              <p class="text--warning text--small">We do not maintain this external package source, so there may be delays when a new version is released. Please contact the downstream repository maintainers about any packaging issues.
              </p>
            </div>
          </div>
      
          <div id="source-instructions" class="instruction dark-panel">
            <div class="instruction__content">
              OpenRA can be compiled from source on all platforms.
              <p class="text--centered">
                <span class="button-group">
                {% include release-download-button.html
                  release=release
                  type="source"
                  tag=release.tag_name %}
                {% include release-download-button.html
                  release=playtest
                  type="source"
                  tag=playtest.tag_name
                  playtest=true %}
                </button>
              </p>
              <p class="text--info text--small">
              {% if playtest %}
                Compilation instructions are available for <a href="https://github.com/OpenRA/OpenRA/blob/{{ release.tag_name }}/INSTALL.md">{{ release.tag_name }}</a> and <a href="https://github.com/OpenRA/OpenRA/blob/{{ playtest.tag_name }}/INSTALL.md">{{ playtest.tag_name }}</a>.
              {% else %}
                Compilation instructions are available for <a href="https://github.com/OpenRA/OpenRA/blob/{{ release.tag_name }}/INSTALL.md">{{ release.tag_name }}</a>.
              {% endif %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>