<footer class="site-footer">
  <hr class="site-footer__hr" />
  <div class="site-footer__main u-centered-content u-centered-content--small">
    <a class="site-footer__logo-link" href="{{ '/' | relative_url }}">
      <img class="site-footer__logo" src="{{ '/images/openra-logo-with-text.svg' | relative_url }}" alt="OpenRA" />
    </a>
    <div class="site-footer__legal">©2007-{{ site.time | date: '%Y' }} The OpenRA Developers (<a href="{{ '/legal/' | relative_url }}">Legal notices</a>)</div>
    <nav class="site-footer__nav">
      <div>
        <a href="{{ '/news/' | relative_url }}" tabindex="0">News</a>
      </div>
      <div>
        <a href="{{ '/about/' | relative_url }}" tabindex="0">About</a>
      </div>
      <div>
        <a href="{{ '/download/' | relative_url }}" tabindex="0">Download</a>
      </div>
      <div>
        <a href="{{ '/games/' | relative_url }}" tabindex="0">Games</a>
      </div>
      <div>
        <a href="{{ '/community/' | relative_url }}" tabindex="0">Community</a>
      </div>
      <div>
        <a href="https://forum.openra.net" tabindex="0">
          <svg class="icon">
            <use xlink:href="{{ '/images/icons/icons.svg#icon-conversation' | relative_url }}"></use>
          </svg>
          Forum
        </a>
      </div>
      <div>
        <a href="https://resource.openra.net" tabindex="0">
          <svg class="icon">
            <use xlink:href="{{ '/images/icons/icons.svg#icon-wrench' | relative_url }}"></use>
          </svg>
          Resources
        </a>
      </div>
    </nav>
    <nav class="site-footer__social-nav">
      <div>
        <a href="https://github.com/OpenRA/OpenRA" class="color--github" tabindex="0">
          <svg class="icon">
            <use xlink:href="{{ '/images/icons/icons.svg#icon-github' | relative_url }}"></use>
          </svg>
          GitHub
        </a>
      </div>
      <div>
        <a href="https://discord.openra.net/" class="color--discord" tabindex="0">
          <svg class="icon">
            <use xlink:href="{{ '/images/icons/icons.svg#icon-discord' | relative_url }}"></use>
          </svg>
          Discord
        </a>
      </div>
      <div>
        <a href="https://openra.itch.io/openra" class="color--itch" tabindex="0">
          <svg class="icon">
            <use xlink:href="{{ '/images/icons/icons.svg#icon-itch' | relative_url }}"></use>
          </svg>
          Itch
        </a>
      </div>
      <div>
        <a href="https://www.facebook.com/openra" class="color--facebook" tabindex="0">
          <svg class="icon">
            <use xlink:href="{{ '/images/icons/icons.svg#icon-facebook' | relative_url }}"></use>
          </svg>
          Facebook
        </a>
      </div>
      <div>
        <a href="https://twitter.com/openRA" class="color--twitter" tabindex="0">
          <svg class="icon">
            <use xlink:href="{{ '/images/icons/icons.svg#icon-twitter' | relative_url }}"></use>
          </svg>
          Twitter
        </a>
      </div>
      <div>
        <a href="https://www.reddit.com/r/openra" class="color--reddit" tabindex="0">
          <svg class="icon">
            <use xlink:href="{{ '/images/icons/icons.svg#icon-reddit' | relative_url }}"></use>
          </svg>
          Reddit
        </a>
      </div>
      <div>
        <a href="https://www.youtube.com/channel/UCRoiPL1J4K1-EhQeNazrYig" class="color--youtube" tabindex="0">
          <svg class="icon">
            <use xlink:href="{{ '/images/icons/icons.svg#icon-youtube' | relative_url }}"></use>
          </svg>
          YouTube
        </a>
      </div>
      <div>
        <a href="https://steamcommunity.com/groups/openra/" class="color--steam" tabindex="0">
          <svg class="icon">
            <use xlink:href="{{ '/images/icons/icons.svg#icon-steam' | relative_url }}"></use>
          </svg>
          Steam
        </a>
      </div>
    </nav>
  </div>
</footer>