<script
  src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/svgxuse@1.2.6/svgxuse.min.js" async></script>
<script src="https://cdn.jsdelivr.net/npm/lite-youtube-embed@0.3.4/src/lite-yt-embed.js" async></script>
<script src="{{ '/scripts/global.js' | relative_url }}"></script>
{% for js in page.js %}
  <script type="text/javascript" src="{{ js | relative_url }}"></script>
{% endfor %}