.download-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;

  @media screen and (max-width: 680px) {
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
  }
}

.download__os-selector {
  text-align: center;

  .radio-button {
    min-width: 105px;
  }
}

.download__os-windows .icon {
  color: $color-windows;
}

.download__os-macos .icon {
  color: $color-macos;
}

.download__os-linux .icon {
  color: $color-linux;
}

.download__os-free-bsd .icon {
  color: $color-freebsd;
}

.download__content {
}

.instruction__content {
  padding: $padding-medium;
}

.instruction__download-button {
  width: 100%;
  max-width: 320px;
}

.instruction__download-button--playtest {

}

.instruction__download-button__release {
  display: block;
  margin-top: 0.25rem;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
  text-shadow: none;
}