.hero {
}

.hero__header {
  position: relative;
}

.hero__intro-text {
  filter: none;
}

.hero__intro-text__games {
  white-space: nowrap;
  color: $color-off-black;
}

.hero__intro-text__game {
  transition: color 500ms $ease-in-out-quint;
}

.hero__intro-text__game.carousel__item--current {
}

.hero__intro-text__ra.carousel__item--current {
  color: $color-red-alert;
}

.hero__intro-text__cnc.carousel__item--current {
  color: $color-command-and-conquer;
}

.hero__intro-text__ts.carousel__item--current {
  color: $color-tiberian-sun;
}

.hero__intro-text__d2k.carousel__item--current {
  color: $color-dune-2000;
}

.hero__intro-text__tagline {
  display: block;
}

.install {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: $z-install;
  will-change: transform;

  @media screen and (max-width: 720px) {
    position: static;
    top: auto;
    right: auto;
  }
}


.hero-carousel {
  z-index: $z-hero-carousel; // performance. Prevents paint issue when combined with "no build" patterns on the sides
  margin-top: 1.5rem;
  margin-bottom: 2rem;

  .carousel__item__content {
    background: $color-off-black;
  }
}

.hero-carousel__items {
  @include metalPanel();
  margin-bottom: 1rem;
  overflow: hidden;
}

.hero-carousel__image {
  display: block;
  width: 100%;
  border-radius: 2px;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
  opacity: 0.05;
  transition: opacity 500ms $ease-in-out-quint;
}

.carousel__item--current .hero-carousel__image {
  opacity: 1;
}

.hero-carousel .carousel__item {
  width: 100%;
}

.additional-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;

  @media screen and (max-width: 680px) {
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
  }
}

.open-source {
  .button {
    width: 300px;
  }
}

.operating-system__windows .icon {
  color: $color-windows;
}

.operating-system__macos .icon {
  color: $color-macos;
}

.operating-system__linux .icon {
  color: $color-linux;
}

.operating-system__free-bsd .icon {
  color: $color-freebsd;
}


.home__developer-updates__posts__header {
  @extend %scanlines;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  strong, a {
    color: black;
  }
}

.home__developer-updates__posts {
  @include metalPanel();
}
