@keyframes spawnpointAppear {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  25% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.minimap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 220px;
  padding: 10px;
  background: rgb(25, 25, 25);
}

.minimap__hash {
  text-transform: uppercase;
  display: block;
  padding: 5px;
  font-size: 9px;
  font-weight: bold;
  font-family: Menlo, monospace;
  text-align: center;
  white-space: pre;
  line-height: 1.25;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.25);
  border: rgba(255, 255, 255, 0.25) 1px solid;
  text-shadow: none;
  border-radius: 2px;
}

.minimap--loaded {
  .minimap__hash {
    display: none;
  }
}

.minimap__bounds {
  display: inline-block;
  position: relative;
}

.minimap__image {
  display: block;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: $ease-in-out-quint;
  transition-duration: 350ms;
}

.minimap--loaded {
  .minimap__image {
    opacity: 1;
  }
}

.minimap__spawnpoints {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.minimap__spawnpoint {
  @extend %spawnpoint;
  position: absolute;
  margin: 0;
  transform: translate(-50%, -50%) scale(1);
}

.minimap--loaded {
  .minimap__spawnpoint {
    animation-timing-function: $ease-in-out-quint;
    animation-duration: 750ms;
    animation-name: spawnpointAppear;
  }
}