.minimap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 220px;
  height: 220px;
  padding: 10px;
  background: rgb(25, 25, 25);

  @media screen and (max-width: 680px) {
    width: 170px;
    height: 170px;
  }
}

.minimap__hash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  display: block;
  padding: 5px;
  font-size: 9px;
  font-weight: bold;
  font-family: Menlo, monospace;
  text-align: center;
  white-space: pre;
  line-height: 1.25;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.15);
  border: rgba(255, 255, 255, 0.15) 1px solid;
  text-shadow: none;
  border-radius: 2px;
}

.minimap__bounds {
  display: inline-block;
  position: relative;
}

.minimap__bounds {
  /* fade in effect */
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: $ease-in-out-quint;
  transition-duration: 350ms;
}

.minimap--loaded {
  .minimap__bounds {
    opacity: 1;
  }
}

.minimap__image {
  display: block;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;

  @media screen and (max-width: 680px) {
    max-width: 150px;
    max-height: 150px;
  }
}

.minimap__spawnpoints {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.minimap__spawnpoint {
  @extend %spawnpoint;
  position: absolute;
  margin: 0;
  transform: translate(-50%, -50%) scale(1);

  &--disabled {
    color: transparent;
    border-color: #999;
    background: #222;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      width: 12px;
      height: 3px;
      background: #999;
      transform: translateY(-50%) rotateZ(-45deg);
    }
  }
}