.minimap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}

.minimap__bounds {
  display: inline-block;
  position: relative;
}

.minimap__image {
  display: block;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}

.minimap__spawnpoints {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.minimap__spawnpoint {
  @extend %spawnpoint;
  position: absolute;
  margin: 0;
  transform: translate(-50%, -50%);
}