.about__video-embed {
  float: right;
  margin: 0 0 1rem 1.5rem;
  width: 350px;

  lite-youtube {
    margin: 0;
  }

  @media screen and (max-width: 960px) {
    margin-right: 0;
    width: 275px;
  }

  @media screen and (max-width: 680px) {
    float: none;
    width: 100%;
    margin: 1.5rem 0;
  }
}

.about__mod-list {
  margin: 0;
  font-size: $font-size-small;
  line-height: $font-line-height;
}

li.about__mod-list__mod {
  display: flex;
  margin: 0;

  &:nth-of-type(even) {
    flex-direction: row-reverse;
    background-color: rgba(0, 0, 0, 0.25);
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  &, &:nth-of-type(even) {
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }
}

.about__mod-list__mod__info {
  padding: 1.25rem 1.5rem;
}

.about__mod-list__mod__icon {
  width: 2rem;
  vertical-align: -0.45rem;
}

.about__mod-list__mod__images {
  position: relative;
  width: 350px;
  flex-shrink: 0;
  overflow: hidden;

  @media screen and (max-width: 800px) {
    width: 275px;
  }
}

.about__mod-list__mod__image {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

li.about__mod-list__under-construction {
  margin: 0;
  padding: 0.5rem 1.5rem;
  color: $color-off-black;
  text-shadow: none;
  background-color: $color-construction;
  background-image: $gradient-construction, $gradient-construction;
  background-position: top left, bottom left;
  background-size: 100% 3px;
  background-repeat: no-repeat;
  box-shadow: inset rgba(255,255,255,0.4) 0 0 1px 1px;

  h1, h2, h3, h4, h5, h6, strong, em {
    color: black;
  }
}

.about__custom-mods__screenshot {
  float: right;
  margin: 0 0 1rem 1.5rem;
  width: 350px;

  @media screen and (max-width: 960px) {
    margin-right: 0;
    width: 275px;
  }

  @media screen and (max-width: 680px) {
    float: none;
    width: 100%;
    margin: 1.5rem 0;
  }
}