button,
.button {
  -webkit-appearance: none;
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-weight: bold;
  line-height: 125%;
  text-decoration: none;
  color: rgb(240, 240, 247);
  background-color: rgb(13, 13, 16);
  border-width: 1px;
  border-style: solid;
  border-top-color: rgb(115, 115, 129);
  border-right-color: rgb(60, 60, 74);
  border-bottom-color: rgb(50, 50, 58);
  border-left-color: rgb(110, 110, 123);
  border-radius: 3px;
  vertical-align: middle;
  box-shadow: black 0 2px 1px 0, inset 0 1px 2px rgba(0, 0, 0, 0.5);
  transition: all 250ms;
  text-shadow: rgba(0, 0, 0, 0.75) 0 1px 0;

  > hr {
    margin: 0.5rem 0;
  }

  &:hover {
    background-color: rgb(27, 27, 32);
    transform: translateY(-2px);
    box-shadow: black 0 4px 0 0;
  }

  &:disabled,
  &.button--disabled {
    color: rgba(240, 240, 247, 0.75);
    background-image: linear-gradient(
      rgba(200, 200, 200, 0.25), 
      rgba(200, 200, 200, 0.25)
    );
    pointer-events: none;

    &:hover {
      transform: translateY(0);
    }
  }

  &:active {
    transform: translateY(0);
    box-shadow: black 0 1px 0 0;
    transition:
      transform 0ms,
      box-shadow 0ms;
  }
}

.icon-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  .icon {
    width: 2rem;
    height: 2rem;
    margin-bottom: 0.75rem;
  }
}

.icon-button__label {
  min-width: 4.5rem;
  text-align: center;
}

.button--large {
  font-size: 1.25rem;
  padding: 0.75rem 1.25rem;
}

.button--primary {
  color: white;
  background-color: rgb(185, 0, 0);

  &:hover {
    background-color: rgb(225, 5, 5);
  }
}

.button--light {
  color: black;
  background-color: rgb(240, 240, 247);
  text-shadow: none;

  &:hover {
    background-color: white;
  }
}

.button--reddit {
  color: white;
  background-color: darken($color-reddit, 7.5%);

  &:hover {
    background-color: $color-reddit;
  }
}

.button--twitter {
  color: white;
  background-color: darken($color-twitter, 7.5%);

  &:hover {
    background-color: $color-twitter;
  }
}

.button--facebook {
  color: white;
  background-color: darken($color-facebook, 7.5%);

  &:hover {
    background-color: $color-facebook;
  }
}

.button--youtube {
  color: white;
  background-color: darken($color-youtube, 7.5%);

  &:hover {
    background-color: $color-youtube;
  }
}

.button--discord {
  color: white;
  background-color: darken($color-discord, 7.5%);

  &:hover {
    background-color: $color-discord;
  }
}

.button--itch {
  background-color: darken($color-itch, 12.5%);

  &:hover {
    background-color: $color-itch;
  }
}

.button--moddb {
  background-color: darken($color-moddb, 7.5%);

  &:hover {
    background-color: $color-moddb;
  }
}

.button--gamereplays {
  background-color: darken($color-gamereplays, 7.5%);

  &:hover {
    background-color: $color-gamereplays;
  }
}

.button--openra-resource {
  background-color: darken($color-openra-resource, 7.5%);

  &:hover {
    background-color: $color-openra-resource;
  }
}

.button__icon {
  margin-left: 0.75rem;
}

.button-group {
  clear: both;

  button,
  .button {
    float: left;
    margin: 0 0.5rem 0.5rem 0;
  }
}