.carousel {
  position: relative;
}

.carousel__items {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: transform 500ms cubic-bezier(0.83, 0, 0.17, 1);
  will-change: transform;

  @media (prefers-reduced-motion) {
    transition: none;
  }
}

.carousel__item {
  display: block;
}

.carousel__item__content {
  transform: scale(0.95);
  transition: transform 500ms cubic-bezier(0.83, 0, 0.17, 1);

  @media (prefers-reduced-motion) {
    transition: none;
  }
}

.carousel__item--current .carousel__item__content {
  transform: scale(1);
  opacity: 1;
}

.carousel__next,
.carousel__previous {
  position: absolute;
  top: calc(50% - 37px);
  z-index: 20;
  backface-visibility: hidden; // hack to create a new layer. Essential performance fix.
}

.carousel__previous {
  left: -20px;
}

.carousel__next {
  right: -20px;
}

.carousel__previous__button,
.carousel__next__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 40px;
  padding: 0;
}

.carousel__pages {
  display: flex;
  list-style-type: none;
  margin: 0.5rem 0 0 0;
  padding: 0;
}

.carousel__page {
  text-indent: -500px;
  overflow: hidden;
  display: block;
  padding: 5px 3px;
  font-size: 1px;
  line-height: 1px;
}

.carousel__page__indicator {
  content: '';
  display: block;
  width: 35px;
  height: 3px;
  background: rgb(27, 27, 27);
}

.carousel__page--current .carousel__page__indicator {
  background: white;
}