.badge {
  background: black;
  color: white;
  border-radius: 3px;
  padding: 0.25rem 0.75rem;
  text-transform: uppercase;
  font-family: $font-jost;
  font-size: $font-size-tiny;
  font-weight: bold;
  line-height: 150%;
  letter-spacing: 0.5px;
}

.icon {
  display: inline-block;
  color: currentColor;
  width: 1.1rem;
  height: 1.1rem;
  fill: currentColor;
  vertical-align: -0.25rem;
}

.terminal {
  display: block;
  white-space: pre-wrap;
  background: black;
  color: rgb(210, 210, 222);
  font-family: monospace;
  border-left: rgb(255, 17, 17) 2px solid;
  border-radius: 3px;
  padding: 1rem;
}

.terminal__prompt {
  font-weight: bold;
  color: gold;
}
