/* General Styles
   Styles of base elements */

@keyframes focusSelectionBox {
  0% { top: -5px; right: -5px; bottom: -5px; left: -5px; }
  100% { top: -2px; right: -2px; bottom: -2px; left: -2px; }
}

* {
  box-sizing: border-box;
}

::selection {
  background: rgba(255, 235, 75, 0.8) !important;
  color: black !important;
  text-shadow: black 0 0 0 !important;
  -webkit-text-fill-color: initial;
}

a:focus,
button:focus,
a:hover,
button:hover {
  outline: none;
  position: relative;
}

a:focus:before,
a:hover:before,
button:focus:before,
button:hover:before,
.button:focus:before,
.button:hover:before {
  content: '';
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border: rgba(255, 255, 255, 0.01) 8px solid;
  border-image: url('/images/selection-box.svg') 8 8 8 8;
  border-image-width: 8px;
  animation: focusSelectionBox 0.75s infinite;

  @media (prefers-reduced-motion) {
    animation: none;
  }
}

html, body {
  font-family: 'Inter', sans-serif;
  font-variant-numeric: slashed-zero;
  font-size: 16px;
  line-height: $font-line-height;
  color: $color-off-white;
  text-shadow: black 0 2px 0;
}

html {
  background-color: rgb(41, 40, 45);
  background-image: url('../images/bg-texture.jpg');
  background-size: 600px 600px;
}

body {
  background-position-y: -60px;
  background-image: url('../images/bg-logos.png');
}

h1, h2, h3, h4, h5, h6 {
  line-height: 125%;
  font-family: 'Jost', Futura, sans-serif;
  color: white;
  margin: 1.5rem 0 1rem 0;
  text-shadow: none;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.15rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h6 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p {
  margin-bottom: 0;
}

a > h1,
a > h2,
a > h3,
a > h4 {
  text-decoration: underline;
  text-decoration-color: rgb(255, 17, 17);
  text-underline-offset: 0.25rem;
}

a:hover > h1,
a:hover > h2,
a:hover > h3,
a:hover > h4 {
  text-decoration-color: rgb(255, 115, 115);
}

a {
  font-weight: bold;
  color: white;
  text-decoration: underline;
  text-decoration-color: rgb(255, 17, 17);
  text-underline-offset: 1px;
  -webkit-text-underline-position: under;
  -ms-text-underline-position: below;
  text-underline-position: under; 

  &:hover {
    position: relative;
    text-decoration-color: rgb(255, 115, 115);
  }
}

strong, em {
  color: white;
}

lite-youtube {
  margin: 1.5rem auto;
  max-width: 720px;
}

fieldset {
  border: none;
  margin: 1.5rem 0;
  padding: 0;
}

label {
  cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

.radio-input {
  margin-right: 0.5rem;
}

var {
  font-style: normal;
  font-weight: bold;
}

table {
  @include metalPanel();
  border-spacing: 0;
  border-collapse: separate;
  font-variant-numeric: slashed-zero tabular-nums;
}

thead {
  th {
    @extend %scanlines;
    padding: 0.25rem 1rem;
    border-right: rgba(0, 0, 0, 0.25) 1px dotted;

    &:first-child {
      border-top-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
      border-right: none;
    }
  }

  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size-tiny;
    font-family: $font-jost;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-left: -0.25rem;
    margin-right: -0.25rem;
    padding: 0.15rem 0.25rem;
    color: lighten($color-off-black, 0.25);
    text-decoration-color: $color-off-black;

    &:hover {
      color: black;
    }
  }
}

tbody {
  padding: 0.5rem;
}

th {
  padding: 0.75rem 1rem;
  text-align: left;
}

td {
  padding: 0.25rem 1rem;
}

tr {
  padding: 0.25rem;
}

tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.25);
}

figure {
  margin: 1.5rem 0;
}

figcaption {
  font-size: 0.9rem;
  line-height: 150%;
  text-align: center;
}

pre, code {
  font-family: Menlo, Consolas, monospace;
}

dt {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

dd {
  margin-left: 0;
  border-left: rgba(255, 255, 255, 0.5) 2px dotted;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}

ul {
  padding-left: 2rem;

  > li {
    break-inside: avoid;

    &::marker {
      color: gold;
    }
  }
}

hr {
  border: none;
  border-top: rgb(125, 50, 50) 1px solid;
  margin: 1.5rem 0;
}

figure {
  @include metalPanel();

  img, video {
    display: block;
    width: 100%
  }
}

figcaption {
  border-top: #444 1px solid;
  padding: 0.5rem;
  font-size: $font-size-small;
}