@mixin metalPanel($width: 2px) {
  padding: 1px;
  border-width: $width;
  border-style: solid;
  border-top-color: rgb(115, 115, 129);
  border-right-color: rgb(52, 52, 66);
  border-bottom-color: rgb(41, 41, 54);
  border-left-color: rgb(110, 110, 123);
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 150px 150px;
  background-image:
    linear-gradient(to right, rgba(7, 3, 3, 0.35) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(7, 3, 3, 0.35) 1px, transparent 1px);
  box-shadow: rgba(0, 0, 0, 0.75) 0 4px 2px 0, inset 0 1px 2px black;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin win95Bevel($width: 2px) {
  border-width: $width;
  border-style: solid;
  border-color:
    $color-win95-border-top
    $color-win95-border-right
    $color-win95-border-bottom
    $color-win95-border-left;
  background-color: $color-win95-bg;
}