/* Site Styles
   General site styles */

.site {
  position: relative;
  overflow-x: hidden;
  height: 100%;

  margin-top: 75px;

  @media screen and (max-width: 680px) {
    margin-top: 64px;
  }
}
  
.site-content {
  min-height: calc(100vh - 300px);
  padding-bottom: 1px;
}

.site-header,
.site-footer {
  a {
    text-decoration: none;

    &:hover {
      @extend %selectionBox;
    }
  }
}

.site-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $z-header;
  background: rgb(0, 0, 0);
  background-attachment: fixed;
  background-image: repeating-linear-gradient(114deg, rgba(13,13,16,1) 0%, rgba(27,27,33,1) 22%, rgba(13,13,16,1) 64%, rgba(17,17,21,1) 100%);
  box-shadow: rgba(0, 0, 0, 0.75) 0 4px 2px 0, rgba(0, 0, 0, 0.55) 0 10px 25px;
  line-height: 125%;

  @media screen and (max-width: 680px) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
}

.site-header__main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1175px;
  margin: 0 auto;
  border-left: black 1px solid;
  border-right: black 1px solid;
  padding: 0.5rem 25px;
  box-shadow: rgba(255, 255, 255, 0.075) 0 0 0 1px;

  @media screen and (max-width: 680px) {
    justify-content: start;
    padding: 0.5rem 1.25rem;
  }
}

.site-header__menu-toggle {
  display: none;
  margin-right: 0.5rem;

  @media screen and (max-width: 680px) {
    display: block;
  }
}

.site-header__logo {
  display: block;
  width: 150px;
  height: 48px;

  @media screen and (max-width: 680px) {
    width: 125px;
    margin-left: 0.75rem;
  }
}

.site-header__hr,
.site-footer__hr {
  margin: 0;
  border-top: black 1px solid;
  border-right: none;
  border-bottom: none;
  border-left: none;
  height: 1px;
  background-color: rgb(40,40,45);
}

.site-header__menu-close {
  display: none;

  @media screen and (max-width: 680px) {
    display: inline-block;
  }
}

.site-header__menu {
  @media screen and (max-width: 680px) {
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: $ease-in-out-quint;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.25rem 1.5rem;
    background: black;
  }
}

.site--menu-active {
  .site-header__menu {
    @media screen and (max-width: 680px) {
      transform: translateX(0);
    }
  }
}

// This is positioned ~weirdly~ so we can reuse this element in mobile view
.site-header__nav {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin: 0 185px;
  text-align: center;

  @media screen and (max-width: 680px) {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transform: none;
    text-align: left;
    margin: 1rem 0 0 0;
  }
}

.site-header__nav__link {
  display: inline-block;
  padding: 0.25rem 0.5rem;

  @media screen and (max-width: 680px) {
    margin: 0.25rem 0;
    padding: 0.5rem;
    border-bottom: rgba(255, 255, 255, 0.25) 1px dotted;
  }
}

.site-header__social-nav {
  flex-shrink: 0;

  .icon {
    @media screen and (max-width: 680px) {
      margin-top: 1rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.site-header__social-nav__row:nth-child(odd) {
  margin-left: 1rem;

  @media screen and (max-width: 680px) {
    margin-left: 0;
  }
}

.site-header__social-nav__link {
  display: inline-block;
  padding: 0.25rem;

  @media screen and (max-width: 680px) {
    padding: 0.5rem;
  }
}

.site-header__social-nav .social-link__text {
  text-indent: -3000px;
  color: transparent;
}

.site-section {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 3rem;
  margin-bottom: 3rem;

  &:before,
  &:after {
    content: '';
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    z-index: $z-no-build-bg;
    margin-top: -3rem;
    margin-bottom: -3rem;
    background-image: $gradient-no-build-here;
  }

  &:before {
    transform: translateX(-225px);
  }

  &:after {
    transform: translateX(225px);
  }

  &--small {
    .site-section__content {
      max-width: 625px;
    }
  }

  &--large {
    &:before {
      transform: translateX(-150px);
    }
  
    &:after {
      transform: translateX(150px);
    }

    .site-section__content {
      max-width: 875px;
    }
  }

  &--xlarge {
    &:before {
      transform: translateX(-75px);
    }
  
    &:after {
      transform: translateX(75px);
    }

    .site-section__content {
      max-width: 1025px;
    }
  }

  @media screen and (max-width: 680px) {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.site-section__content {
  @include clearfix();
  width: 100%;
  max-width: 725px;
  padding: 0 25px;
}

.site-section__heading {
  text-align: center;
  @extend %gold;
}

.site-section__divider {
  background: black;
  height: 2px;
  border-top: rgb(58, 56, 64) 1px solid;
  border-bottom: rgb(71, 67, 87) 1px solid;
  background-image: repeating-linear-gradient(135deg, transparent, transparent 1px, rgba(125,125,125,1) 1px, rgba(45,45,45,1) 3px, rgba(40,40,40,1) 4px);
  background-attachment: fixed;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 4px 0, inset 0 1px 2px black;
}

.site-footer {
  font-size: $font-size-small;
  background-color: rgb(0, 0, 0);
  background-attachment: fixed;
  background-image: linear-gradient(114deg, rgba(13,13,16,1) 0%, rgba(27,27,33,1) 22%, rgba(13,13,16,1) 64%, rgba(17,17,21,1) 100%);
  border-top: black 1px solid;
  box-shadow: rgba(0, 0, 0, 0.25) 0 -5px 35px
}

.site-footer a {
  color: white;
  text-decoration: none;
}

.site-footer a:hover {
  text-decoration: underline;
}

.site-footer__main {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-gap: 25px;
  align-items: center;
  border-left: black 1px solid;
  border-right: black 1px solid;
  padding-top: 1rem;
  padding-bottom: 3rem;
  box-shadow: rgba(255, 255, 255, 0.075) 0 0 0 1px;

  @media screen and (max-width: 680px) {
    display: block;
  }
}

.site-footer__logo-link {
  display: inline-block;
  grid-column: 1 / 3;
}

.site-footer__logo {
  display: block;
  width: 125px;
}

.site-footer__legal {
  grid-column: span 6;
}

.site-footer__nav,
.site-footer__social-nav {
  grid-column: span 4;
  columns: 2;
  column-gap: 25px;

  @media screen and (max-width: 680px) {
    columns: 3;
  }

  @media screen and (max-width: 480px) {
    columns: 2;
  }

  .icon {
    margin-right: 0.25rem;
  }
}

.site-footer__nav {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.site-footer__nav > a {
  display: inline-block;
  padding: 0.5rem 0.5rem;
}

.site-footer__social-nav {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.site-footer__social-nav > a {
  display: inline-block;
  padding: 0.5rem 0.5rem;
}