$color-reddit: rgb(255, 69, 0);
$color-itch: rgb(250, 92, 92);
$color-discord: rgb(114, 137, 218);
$color-facebook: rgb(24, 119, 242);
$color-twitter: rgb(29, 161, 242);
$color-youtube: rgb(255, 0, 0);
$color-moddb: rgb(172, 0, 0);
$color-gamereplays: rgb(95, 93, 102);
$color-openra-resource: rgb(44, 74, 169);
$color-construction: rgb(255, 204, 0);
$color-windows: rgb(0, 173, 239);
$color-osx: rgb(200, 200, 200);
$color-linux: rgb(239, 176, 2);
$color-freebsd: rgb(219, 32, 0);

$color-red-alert: rgb(255, 17, 17);
$color-command-and-conquer: rgb(255, 199, 0);
$color-dune-2000: rgb(255, 177, 85);
$color-tiberian-sun: rgb(92, 255, 51);
$color-off-black: rgb(27, 27, 27);
$color-off-white: rgb(230, 230, 230);

$gradient-scanlines: repeating-linear-gradient(0deg, rgba(189,189,191,1) 0, rgba(225,225,227,1) 3px);
$gradient-construction: repeating-linear-gradient(135deg, $color-construction, $color-construction 20px, black 20px, black 50px);
$gradient-no-build-here: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.4) 3px, transparent 3px, transparent 9px);

$ease-in-out-quint: cubic-bezier(0.83, 0, 0.17, 1);

$font-size-base: 16px;
$font-size-mobile: 14px;
$font-size-tiny: 0.75rem;
$font-size-small: 0.875rem;
$font-size-medium: 1rem;
$font-size-large: 1.125rem;
$font-size-xlarge: 1.25rem;

$font-line-height: 170%;

$font-jost: 'Jost', 'Futura', sans-serif;

$padding-medium: 1.25rem 1.5rem;