$color-reddit: rgb(255, 69, 0);
$color-itch: rgb(250, 92, 92);
$color-discord: rgb(114, 137, 218);
$color-facebook: rgb(24, 119, 242);
$color-twitter: rgb(29, 161, 242);
$color-youtube: rgb(255, 0, 0);
$color-moddb: rgb(172, 0, 0);
$color-gamereplays: rgb(95, 93, 102);
$color-openra-resource: rgb(44, 74, 169);

$color-red-alert-red: rgb(255, 17, 17);
$color-off-black: rgb(27, 27, 27);

$ease-in-out-quint: cubic-bezier(0.83, 0, 0.17, 1);