$color-reddit: rgb(255, 69, 0);
$color-itch: rgb(250, 92, 92);
$color-discord: rgb(114, 137, 218);
$color-facebook: rgb(24, 119, 242);
$color-twitter: rgb(29, 161, 242);
$color-youtube: rgb(255, 0, 0);
$color-moddb: rgb(172, 0, 0);
$color-gamereplays: rgb(95, 93, 102);
$color-openra-resource: rgb(44, 74, 169);
$color-construction: rgb(255, 204, 0);
$color-warn: rgb(255, 233, 143);
$color-info: rgb(133, 201, 255);
$color-windows: rgb(0, 173, 239);
$color-macos: rgb(200, 200, 200);
$color-linux: rgb(239, 176, 2);
$color-freebsd: rgb(219, 32, 0);

$color-red-alert: rgb(255, 17, 17);
$color-command-and-conquer: rgb(255, 199, 0);
$color-dune-2000: rgb(255, 177, 85);
$color-tiberian-sun: rgb(92, 255, 51);
$color-off-black: rgb(27, 26, 30);
$color-off-white: rgb(230, 230, 230);

$color-win95-bg: rgb(192, 192, 192);
$color-win95-header-bg: rgb(0, 0, 128);
$color-win95-border-top: rgb(224, 224, 192);
$color-win95-border-right: rgb(128, 128, 128);
$color-win95-border-bottom: rgb(128, 128, 128);
$color-win95-border-left: rgb(224, 224, 192);

$gradient-scanlines: repeating-linear-gradient(0deg, rgba(189,189,191,1) 0, rgba(225,225,227,1) 3px);
$gradient-construction: repeating-linear-gradient(135deg, transparent, transparent 20px, black 20px, black 50px);
$gradient-button-shine: radial-gradient(ellipse at 10% 10%, rgba(255, 255, 255, 0.15) 0, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0.4) 100%);

$ease-in-out-quint: cubic-bezier(0.83, 0, 0.17, 1);

$font-size-base: 16px;
$font-size-mobile: 14px;
$font-size-tiny: 0.75rem;
$font-size-small: 0.875rem;
$font-size-medium: 1rem;
$font-size-large: 1.125rem;
$font-size-xlarge: 1.25rem;

$font-line-height: 170%;

$font-jost: 'Jost', 'Futura', sans-serif;
$font-inter: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$padding-medium: 1.25rem 1.5rem;

$z-servers-list-tooltip: 1500;
$z-header: 1000;
$z-no-build-bg: 500;
$z-install: 50;
$z-carousel-buttons: 25;
$z-hero-carousel: 20;