.dark-panel {
  @include metalPanel();

  @media screen and (max-width: 680px) {
    margin-left: -25px;
    margin-right: -25px;
  }
}

.dark-panel__header {
  @extend %scanlines;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0.5rem 1.5rem;

  > * {
    margin-right: 1rem;
  }
}