<!DOCTYPE html>
<html lang="en-US">
  {% include head.html %}
  <body>
    <div class="site">

      {% include header.html %}

      <div class="site-content">
        <section class="developer-update-detail site-section">
          <div class="site-section__content">
            <div class="dark-panel">
              <div class="dark-panel__header">
                <a class="developer-update-detail__view-all" href="{{ '/news/' | relative_url }}">
                  <svg class="icon">
                    <use xlink:href="{{ '/images/icons/icons.svg#icon-chevron-left' | relative_url }}"></use>
                  </svg>
                  View All Updates
                </a>
              </div>

              {% include developer-update.html title=page.title author=page.author created_at=page.created_at body=content disqus_id=page.disqus_id %}
            
            </div>
          </div>
        </section>
      </div>

      {% include footer.html %}

    </div>

    {% include foot.html %}
  </body>
</html>